/*main-slider*/

#main-slider{width:100%;height:100%;overflow:hidden;position:relative;background-color:#fff;}
#main-slider-cassette{height:450px;position:absolute;top:0px;}
#main-slider-left{position:absolute;width:50px;;height:100px;text-indent:-99999px;overflow:hidden;background-color:none;top:175px;left:0px;z-index:10; cursor:pointer;background-image:url('../images/slider_arrows.png');background-repeat:no-repeat;background-position:top left;}
#main-slider-right{position:absolute;width:50px;;height:100px;text-indent:-99999px;overflow:hidden;background-color:none;top:175px;right:0px;z-index:10; cursor:pointer;background-image:url('../images/slider_arrows.png');background-repeat:no-repeat;background-position:top right;}

#main-slider-left:hover{background-position:bottom left;}
#main-slider-right:hover{background-position:bottom right;}

#main-slider-pos-wrapper{position:absolute;z-index:10;}
#main-slider-pos-bg{height:12px;width:180px;position:relative;background-color:#96F;padding:9px;}
.main-slider-pos-marker{float:left;background-image:url('../images/pos-marker-24x72.png');background-repeat:no-repeat;text-indent:-99999px;}
.main-slider-pos-marker-hover{background-position:0px -48px;}

.main-slider-slide {height:450px;width:950px;float:left;position:relative;}

#main-slide-1{background-color:#F09;}
#main-slide-2{background-color:#9C6;}
#main-slide-3{background-color:#96C;}


/*SLIDER SLIDES*/

.main-slider-slide h1, h2, p{color:#333333;font-family:Myriad Pro,Verdana,sans-serif;position:absolute;}
.main-slider-slide h1{font-size:4em;font-weight:800;}
.main-slider-slide h2{font-size:1.3em;font-weight:400;}
.main-slider-slide p{font-size: 1em;font-weight: 400;line-height: 1.2em;text-align: justify;text-indent: 2em; padding:10px; border:1px solid #999;}